#review {
  margin: 0 8%;
  background-color: white;
}

#review div {
  margin: 0 8px;
}

#review div.side-by-side {
  margin: 0;
  display: flex;
  justify-content: space-between;

}
#review .item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#review b {
  margin: 0 8px;
}

#review p {
  margin: 0;
}

#review img {
  margin: 0;
  width: 99%;
}

#review .sheet-title {
  position: relative;
  margin: 0;
}

#review .sheet-title h3 {
  color: white;
  font-style: italic;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
  margin: 0;
}

#review .side-by-side h4 {
  margin: 0 8px 0 0;
}

#review .in-ellipse {
  width: 45px;
  position: relative;
}

#review .in-ellipse p {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

#review ellipse {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

#review .col3 {
  display: flex;
  justify-content: space-between;
}

#review .col3 div > h4 {
  margin: 0 0 8px 0;
}

#review .col3 .side-by-side {
  width: 175px;
  justify-content: right;
}

#review .col3 > div {
  width: 33%;
}

#review .skill-totals {
  /* border: 1px solid red; */
  width: 50%;
  
}

#review .skill-totals > div {
margin: 0 auto;
}

#review .skill-totals p {
  font-size: 0.8em;
  margin: 0;
}

#review .skill-totals h5.tiny {
  font-size: 0.45em;
  margin: auto 0;
}

#review .skill-totals h5 {
  font-size: 0.7em;
}

#review .skill-totals h6 {
  margin: 8px 0;
  font-size: 0.8em;
  width: 50%;
}

#review .skill-totals .side-by-side {
  width: 290px;
  border-bottom: 1px rgb(211, 211, 211) solid;
}