.talentCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
  column-gap: 24px;
  justify-content: center;
}

.talentCard li button {
  margin: 0 auto;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  
}

.talentCard li{
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px;
  list-style: none;
  margin: 0 auto 4px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(240, 239, 239, 0.753);
}

.talentCard li h5 {
  font-size: 16px;
  text-align: center;
}

.talentCard li h6 {
  font-size: 14px;
}

.talentCard li p {
  font-size: 13px;
  margin-left: 8px;
  margin-top: 1px;
  margin-bottom: 4px;
}

.talentCard li h5,
.talentCard li h6 {
  margin-top: 0;
  margin-bottom: 4px;
}

.talentCard li span {
  display: flex;
  justify-content: center;
}

.talentTop {
  height: 100px;
}

.talentReqs h4 {
  text-align: center;
  margin-bottom: 6px;
  margin-top: 10px;
}

.talentReqs hr {
  border-top: 1px dashed rgb(191, 185, 185);
  width: 60%;
  margin: 2px auto;
}

.talentReqs div:last-of-type hr {
  display: none;
}

.talentReqs .typeScore {
  display: flex;
  justify-content: space-around;
}