#review {
  margin: 0 8%;
  background-color: white;
  min-width: 660px;
  max-width: 950px;
}

#review div {
  margin: 0 8px;
}

#review div.side-by-side {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

#review div.side-by-side .combat-abilities{
  width: 100%;
}

#review .item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#review b {
  margin: 0 8px;
}

#review p {
  margin: 0;
  font-size: 0.9em;
}

#review img {
  margin: 0;
  width: 99%;
}

#review .sheet-title {
  position: relative;
  margin: 0;
  width: 100%;
}

#review .sheet-title h3 {
  color: white;
  font-style: italic;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
  margin: 0;
}

#review .side-by-side h4 {
  margin: 0 8px 0 0;
}

#review .in-ellipse {
  width: 45px;
  position: relative;
}

#review .in-ellipse p {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

#review ellipse {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

#review .col3 {
  display: flex;
  justify-content: space-between;
}

#review .col3 div > h4 {
  margin: 0 0 8px 0;
}

#review .col3 .side-by-side {
  width: 175px;
  justify-content: right;
}

#review .col3 > div {
  width: 33%;
}

#review .skill-totals {
  /* border: 1px solid red; */
  width: 50%;
  
}

#review .skill-totals > div {
margin: 0 auto;
}

#review .skill-totals p {
  font-size: 0.8em;
  margin: 0;
}

#review .skill-totals h5.tiny {
  font-size: 0.45em;
  margin: auto 0;
}

#review .skill-totals h5 {
  font-size: 0.7em;
}

#review .skill-totals h6 {
  margin: 8px 0;
  font-size: 0.8em;
  width: 50%;
}

#review .skill-totals .side-by-side {
  width: 290px;
  border-bottom: 1px rgb(211, 211, 211) solid;
}

.combat-abilities h5 {
  margin: 0 8px 0 0;
}

.combat-abilities .side-by-side {
  padding: 0 8px;
}

.combat-abilities .together {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

#review .square {
  margin: 3px 1px;
  padding: 0;
  border: 1px solid black;
  width: 6px;
  height: 6px;
  box-shadow: 1.2px 1.2px 0 black;
}

#review .square:nth-child(5n) {
  margin-right: 8px;
}

#review .filled {
  background-color: rgb(204, 204, 204);
}

.squares {
  margin: 0 50%;
  padding: 0 14px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 290px;
}

.powder .squares {
  width: 180px;
}

#review .powder > p {
  margin-left: 24px;
  text-align: right;
}

#review div.shots {
  justify-content: center;
  align-items: center;
}

.shots h5{
  margin: 0;
}

#review .shots .tiny{
  font-size: 0.6em;
  text-align: center;
}

#review hr {
  color: rgb(247, 243, 243);
  width: 350px;
}

#review table {
  width: 100%;
}

#health-table td:first-child,
#health-table th:first-child {
  text-align: left;
  width: 50px;
  padding: 0 8px;
}

#health-table td {
  text-align: center;
  padding: 0;
}

#health-table td:nth-child(2){
  font-size: 0.6em;
  text-align: center;
}

#health-table td .squares {
  width: 180px;
}

#review table thead,
#review table tbody tr {
  background-color: white;
}

#equipment-table {
  font-size: 0.7em;
}

#equipment-table tr td:first-child
{
  font-size: 1em;
  width: 150px;
}

#pools p {
  font-size: 0.75em;
  text-align: center;
  margin: 0;
}

#pools h5 {
  text-align: center;
}

#pools .in-ellipse p {
  font-size: 1em;
}

#pools > div > div {
  margin-bottom: 16px;
}

#pools .dice-pools > div {
  width: 150px;
  margin: 0;
}

#pools .dice-pools > div:nth-child(2) {
  width: 70px;
  margin: 0;
}

#pools .dice-pools div p {
  border-bottom: 1px solid rgb(226, 226, 226);
  margin: 0;
  font-size: 0.75em;
}

#talents {
  width: 90%;
}

#talents .side-by-side {
  border-bottom: 1px solid rgb(226, 226, 226);
  width: 100%;
}

#talents .title h5:nth-child(2) {
  text-align: center;
  width: 260px;
  margin-bottom: 16px;
}

#talents h6 {
  margin: 0;
  font-size: 0.8em;
  width: 180px;
}

#talents p {
  font-size: 0.7em;
  text-align: left;
  width: 260px;
}