caption {
  font-weight: bold;
  font-size: 1.3em;
  background-color:   rgba(89, 58, 12, 0.452);
  padding: 1px 8px;
}

thead {
  background-color:   rgba(89, 58, 12, 0.452);
}

th {
  font-weight: bold;
  padding: 4px 16px;
}

td {
  text-align: center;
  padding: 1px 8px;
}

td.note p {
  font-style: italic;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  margin: 4px;
} 

td:first-child {
  text-align: left;
}

tr:nth-child(odd) {
  background-color:   rgba(165, 131, 79, 0.302);
}

tr:nth-child(even) {
  background-color:   rgba(230, 230, 230, 0.919);
}

td:first-child.tableCenterText {
  text-align: center;
}

tr.selected {
  background-color: rgb(209, 136, 20);
  color: white;
}