caption {
  font-weight: bold;
  font-size: 1.3em;
  background-color:   rgba(89, 58, 12, 0.452);
  padding: 1px 8px;
}

thead {
  background-color:   rgba(89, 58, 12, 0.452);
}

th {
  font-weight: bold;
  padding: 4px 16px;
}

td {
  text-align: center;
  padding: 1px 8px;
}

td.note p {
  font-style: italic;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  margin: 4px;
} 

td:first-child {
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color:   rgba(165, 131, 79, 0.302);
}

tbody tr:nth-child(even) {
  background-color:   rgba(230, 230, 230, 0.919);
}

td:first-child.tableCenterText {
  text-align: center;
}

table tr.selected {
  background-color: rgb(209, 136, 20);
  color: white;
}

table.info {
  min-width: 100px;
  font-size: 0.8em;
}

table.info caption {
  background-color:   rgba(97, 94, 90, 0.452);
  font-size: 1em;
}

table.info thead {
  background-color:   rgba(89, 87, 84, 0.452);
}

table.info tr:nth-child(odd) {
  background-color:   rgba(165, 158, 148, 0.302);
}

table .notes {
  font-size: 0.7em;
  font-style: italic;
}

table.calculated {
  background-color:   rgb(220, 218, 216);
}

table.calculated caption {
  background-color:   rgba(97, 94, 90, 0.452);
  font-size: 1em;
}